{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
    {% tailwind_css %}
  </head>
  <body class="bg-gray-700 flex items-center justify-center h-screen">
    <div id="container" class="bg-sky-500 text-white p-4 rounded-md">
      <div id="instructions" class="mb-2">Enter the chat room name:</div>
      <div class="flex">
        <input
          id="room-name-input"
          type="text"
          autofocus
          class="text-black p-2 border rounded-md mr-2"
        />
        <button
          id="room-name-submit"
          class="px-4 py-2 bg-blue-500 text-white rounded-md"
        >
          Enter
        </button>
      </div>
    </div>

    <script>
      const roomNameInput = document.querySelector("#room-name-input");
      const roomNameSubmit = document.querySelector("#room-name-submit");

      roomNameInput.addEventListener("keyup", function (e) {
        if (e.keyCode === 13) {
          roomNameSubmit.click();
        }
      });

      roomNameSubmit.addEventListener("click", function () {
        const roomName = roomNameInput.value;
        window.location.pathname = `/chat/ws/${roomName}/`;
      });
    </script>
  </body>
</html>
