{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat Room</title>
    {% tailwind_css %}
  </head>
  <body class="min-h-screen flex items-center justify-center bg-gray-700 mt-6">
    <div
      id="container"
      class="container mx-auto bg-white rounded-2xl shadow-md p-4"
    >
      <!-- Username Modal -->
      <div
        id="username-modal"
        class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex items-center justify-center"
        aria-labelledby="username-modal-title"
        aria-describedby="username-modal-description"
      >
        <div class="bg-white p-6 rounded-md">
          <h2 id="username-modal-title" class="text-2xl font-semibold mb-4">
            Enter Your Name
          </h2>
          <input
            id="user-name-input"
            type="text"
            placeholder="Your Name"
            class="p-2 border rounded-md mb-4"
            aria-label="Your Name"
          />
          <button
            id="submit-name-button"
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white rounded-md"
          >
            Submit Name
          </button>
        </div>
      </div>

      <!-- Chat Room Content -->
      <div id="chat-room-content" class="hidden">
        <div
          id="user-name-display"
          class="bg-gray-300 rounded-md mb-4 text-3xl p-2"
        ></div>
        <textarea
          id="chat-log"
          cols="100"
          rows="20"
          class="mt-4 p-2 border rounded-md w-full"
          aria-label="Chat Log"
        ></textarea>

        <div id="chat-input" class="mt-4">
          <div class="flex flex-col space-y-4">
            <input
              id="chat-message-input"
              type="text"
              placeholder="Type your message"
              class="p-2 border rounded-md"
              aria-label="Type your message"
            />
            <button
              id="chat-message-submit"
              type='submit'
              class="px-4 py-2 bg-blue-500 text-white rounded-md"
            >
              Send
            </button>
          </div>
        </div>
      </div>
    </div>

    {{ room_name|json_script:"room-name" }}
    <script>
      // JavaScript code for handling user name submission
      const userNameModal = document.getElementById("username-modal");
      const userNameInput = document.querySelector("#user-name-input");
      const submitNameButton = document.querySelector("#submit-name-button");
      const chatRoomContent = document.getElementById("chat-room-content");
      const userNameDisplay = document.querySelector("#user-name-display");

      let userName = "";

      submitNameButton.addEventListener("click", function () {
        userName = userNameInput.value;

        // Display the user's name and hide the modal
        userNameDisplay.innerText = "User Name : " + userName;
        userNameModal.style.display = "none";
        chatRoomContent.style.display = "block";
      });

      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );
      const isSecure = window.location.protocol === "https:";

      const wsProtocol = isSecure ? "wss://" : "ws://";
      const chatSocket = new WebSocket(
        wsProtocol + window.location.host + "/ws/chat/" + roomName + "/"
      );
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector("#chat-log").value +=
          data.user + ":" + data.message + "\n";
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
            sender: userName,
          })
        );
        messageInputDom.value = "";
      };

      // Show the username modal on page load
      window.onload = function () {
        userNameModal.style.display = "flex";
      };
    </script>
  </body>
</html>
